body{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/23/00/23/hands-1851426_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.searchText{
    position: relative;
    top: 200px;
    font-family: 'Kaisei Opti', serif;
    color:white;
    text-align: center;
}

.image{
    position: relative;
    top: 300px;
    text-align: center;
}

.button{
    font-size: 20px;
    position: relative;
    top: 125px;
    padding: 15px 25px;
  text-align: center;
  background-color: #04AA6D;
  color: #fff;
  font-family: 'Kaisei Opti', serif;
  left: 2px ;
}