.header {
    background-image: url("img/LoginImage.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
    
.header-body {
        margin: 0 auto;
        text-align: center;
}
    
#header-image {
        height: 75px;
        width: 75px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-radius: 8px; 
        margin-left: 65px;
}
    
#header-title {
        color: white;
        opacity: 0.8;
        height: 70px;
        text-align: center;
        font-family: 'Nothing You Could Do', cursive;
        margin-bottom: 0px;
        font-size: 50px;
}

#header-subtitle-1,
#header-subtitle-2 {
        color: rgb(255, 255, 255);
}
    
#saudation{
    text-align: center;
    color: #CCC;
    margin-right: -40px;
}

.emoji {
    font-size: 30px;
    animation: waving-hand 2.5s infinite;
    display: inline-block;
}

@keyframes waving-hand {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.columns {
    display: flex;
}

.col-1{
    width:84%;
    /* border: 1px solid; */
    height: 100%;
}

.col-2{
    width:16%;
    /* border: 1px solid; */
    height: 100%;
    min-height: 900px;
    
}

.searchText{
    position: relative;
    font-family: 'Kaisei Opti', serif;
    color:white;
    text-align: center;
}


#image-nerd{
    width: 12%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: url(img/nerd.gif); 
}

#search-bar{
    text-align: right;
    margin-right: 30px;
}

.button{
    font-size: 20px;
    position: relative;
    top: 25px;
    right: -17px;
    padding: 15px 25px;
    text-align: center;
    background-color: #04AA6D;
    color: #fff;
    font-family: 'Kaisei Opti', serif;
    border-radius: 12px;
}

.index{
    background-image: linear-gradient(to right, black , rgb(105, 125, 115));
    text-align: center;
    position: relative;
    top: 150px;
}

.title{
    color:rgb(195, 195, 195);
    margin-right: -50px;
    text-align: center;
    font-family: 'Kaisei Opti', serif;
}

#search-text {
    border-radius: 5px;
}

#search_button{
    border-radius: 5px;
}

#microphone-image {
    height: 30px;
    width: 25px;
}

/*
.footer {
    padding: 1rem 0.5rem 3rem;
    display: block;
    width: 50%;
}
*/

#pedro {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin: 0 auto;
}

#pedro:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#feedback{
    
    margin-right: 70px;
}

#footer {
    
    bottom: 0;
    width: 100%;
    height: 2.5rem;
             
}
#p-footer{
    text-align: center;
    
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
   
  }
  .tablink:hover {
    background-color: #777;
  
  }
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 50%;
    
  }
  #menuId{
   position: relative;
    width: 100%;
  }
#titleRender{
    position: absolute;
    text-align:center;
    top:730px;
    left: 610px;
    font-size:80px;
    color:white; 
    opacity: 0.9;
    z-index: 1;
    font-weight: bold; 
    font-family: 'Nanum Myeongjo', serif;
}

#image{
    position: relative;
    width: 100%;
    height: auto;
    left:-1px;
    opacity: 0.8;
}

