    .header {
    background-image: url("img/speaker-music-blue2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    
    .header-body {
        margin: 0 auto;
        text-align: center;
    }
    
    #header-image {
        height: 70px;
        width: 60px;
        margin-bottom: 5px;
        border-radius: 1rem;
    }
    
    #header-title,
    #header-subtitle-1,
    #header-subtitle-2 {
        color: rgb(255, 255, 255);
    }
    
    #header-title {
        margin-bottom: 30px;
        font-size: 50px;
    }

.login{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/23/00/23/hands-1851426_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#saudation{
    text-align: center;
    color: #CCC;
}

.emoji {
    font-size: 30px;
    animation: waving-hand 2.5s infinite;
    display: inline-block;
}

@keyframes waving-hand {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.searchText{
    position: relative;
    font-family: 'Kaisei Opti', serif;
    color:white;
    text-align: center;
}


#image-nerd{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: url(img/nerd.gif); 
}

#search-bar{
    text-align: center;
}

.button{
    font-size: 20px;
    position: relative;
    top: 25px;
    padding: 15px 25px;
    text-align: center;
    background-color: #04AA6D;
    color: #fff;
    font-family: 'Kaisei Opti', serif;
    border-radius: 12px;
}

.index{
    background-image: linear-gradient(to right, black , rgb(105, 125, 115));
}

.title{
    color:rgb(195, 195, 195);
    text-align: center;
    font-family: 'Kaisei Opti', serif;
}

/*
.footer {
    padding: 1rem 0.5rem 3rem;
    display: block;
    width: 50%;
}
*/

#pedro {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin: 0 auto;
}

#pedro:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#feedback{
    
    margin-right: 70px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}
#p-footer{
    text-align: center;
}